//---------------------------------------------------------------------
//Remove the padding and margin from every single element
* {
margin: 0;
padding: 0;
}

//Ensure that every possible element uses border-box measuring
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

//---------------------------------------------------------------------

$max-columns: 6;

$padding: 0.5em;
$border: 3px solid #FFF;

[data-ms-grid] {
  display: flex;
  flex-direction: column;
  padding-left: $padding;
  padding-right: $padding;
}

/* Only used for the first level */
body > [data-ms-grid] {
  border-left: $border;
  border-right: $border;
}

[data-ms-grid-cc] {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
}

@for $i from 1 through $max-columns {
    [data-ms-grid-cc~="u#{$i}"] {
        flex: 1 percentage(1 / $i);
        min-width: 200px;
        padding: $padding;
        border: $border;

        /*Child elements*/
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
