$ms-font-family: Merriweather, serif;
$ms-headings-font-family: Lato, sans-serif;

html {
  font-family: $ms-font-family;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $ms-headings-font-family;
  line-height: 1;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p[data-ms-grid-cc="u1"] {

}
